


params {
trim_sample_script = "trim_sample.sh"
emit_sam_script = "emit_sam.sh" 
coordsort_sam_script = "coord_sort_sam.sh" 
bcf_call_script = "bcf_call.sh" 
gatk_call_script = "gatk_call.sh" 
var_adj_script = "minos_call.sh"
gatk_joint_geno_script = "gatk_joint_genotyping.sh"
regenotype_nf_script = "$HOME/minos/nextflow/regenotype.nf" 
isec_script_wf = "isec.sh" 
ref_seq_path_d = "$HOME/Workflows/wf-vdg/bin/Reference/h37rv.fasta"
adp_path_d = "$HOME/Workflows/wf-vdg/bin/Adapters/NexteraPE-PE.fa"
out_dir_d = "$PWD"
minos_jg_script = "minos_joint_genotyping.sh"
minos_config = "$HOME/minos/nextflow/regenotype.config"
sample_size_profile = "medium"
min_BQ = 10
min_MQ = 20
ploidy = 1
tandem_qual = 85
indel_bias = 2.0
sample_count = "gvcf"
frs = 90
gcp = 0.5
snpeff_jar_path = "$HOME/snpEff/snpEff.jar"
snpeff_config_path = "$HOME/snpEff/snpEff.config"
snpEff_annot_script = "annotate_with_snpeff.sh"
custom_annotations_script = "custom_annotations.sh"
bedtools_script = "bedtools_analysis.sh"
generate_consensus_script = "generate_consensus.sh"
gene_annotation_file = "$HOME/Workflows/wf-vdg/bin/Annotation_files/gene_annotation_file1.bed.gz"
gene_annotation_header = "$HOME/Workflows/wf-vdg/bin/Annotation_files/gene_annotation_file1.hdr"
lineage_annotation_file = "$HOME/Workflows/wf-vdg/bin/Annotation_files/lineage_annotation.bed.gz"
lineage_annotation_header = "$HOME/Workflows/wf-vdg/bin/Annotation_files/lineage_annotation.hdr"
amr_region_file = "$HOME/Workflows/wf-vdg/bin/Annotation_files/amr_region_file.bed.gz"
amr_region_header = "$HOME/Workflows/wf-vdg/bin/Annotation_files/amr_region_file.hdr"
variable_region_annotation_file = "$HOME/Workflows/wf-vdg/bin/Annotation_files/variable_region_annotation.bed.gz"
variable_region_annotation_header = "$HOME/Workflows/wf-vdg/bin/Annotation_files/variable_region_annotation.hdr"
lineage_tsv = "$HOME/Workflows/wf-vdg/bin/Annotation_files/lineage_snp_1.tsv"
dr_profiling_scipt = "/home/dfgmrtc/Workflows/wf-vdg/bin/drug_res_profiling.py"
snp_typing_python_script = "/home/dfgmrtc/Workflows/wf-vdg/bin/snp_typing.py"
dr_extr_scipt_2 = "/home/dfgmrtc/Workflows/wf-vdg/bin/extract_dr_res_lin_2.py"
dr_extr_scipt_3 = "/home/dfgmrtc/Workflows/wf-vdg/bin/extract_dr_res_lin_1.py"
dr_catalogue_file_path = "/home/dfgmrtc/Workflows/wf-vdg/bin/dr_res_folder"
dr_R_formatting_script = "/home/dfgmrtc/Workflows/wf-vdg/bin/drug_res_profiling_R.R"
snp_typing_R_formating_script = "/home/dfgmrtc/Workflows/wf-vdg/bin/snp_typing_R.R"
prepped_lineage_file = "/home/dfgmrtc/Workflows/wf-vdg/bin/Annotation_files/lineage_snp_4.tsv"
}

